body {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body,
p,
ul,
section,
aside{
	margin: 0;
  padding: 0;
}
ul,
ol{
	list-style: none;
}
